<div class="info">
    <div class="top_btn">

        <div class="home_btn">
            <img src="assets/aks-iskeletleri/6x2/img/home.png" (click)="goToHomePage()" title="Anasayfa">
            <!-- <p>Servis Ver</p> -->
        </div>

        <div class="arac_bilgileri" (click)="aracBilgiGetir()">

            <img src="assets/aks-iskeletleri/6x2/img/arac_bilgi.png" title="Araç Bilgileri">
            <!-- <p>Araç Bilgileri</p> -->

        </div>

        <div class="servis_ver">
            <img src="assets/aks-iskeletleri/6x2/img/service.png" title="Servis Ver">
            <!-- <p>Servis Ver</p> -->
        </div>

        <div class="kaydet_btn">
            <img src="assets/aks-iskeletleri/6x2/img/save.png" (click)="aracBakimIslemleriKaydet()" title="Kaydet">
            <!-- <p>Servis Ver</p> -->
        </div>

        <div class="depo" *ngIf="!depo_hide">
            <img src="assets/aks-iskeletleri/6x2/img/depo_icon.png">
            <!-- <p>Depo</p> -->
        </div>
        <div cdkDropList #depo="cdkDropList" [cdkDropListData]="depoList" [cdkDropListAutoScrollDisabled]="false"
            [cdkDropListSortingDisabled]="true" id="cdk-drag-drop-depo" style="display: inline;"
            [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI]"
            (cdkDropListDropped)="onDrop($event)" (cdkDropListExited)="exited($event)">
            <div class="depo" tip="depo" cdkDrag>
                <img src="assets/aks-iskeletleri/6x2/img/depo_icon.png">
                <!-- <p>Depo</p> -->
                <img *cdkDragPreview src="assets/aks-iskeletleri/6x2/img/tire.png">
            </div>
        </div>

        <div cdkDropList #hurdalik="cdkDropList" [cdkDropListData]="hurdalikList"
            [cdkDropListAutoScrollDisabled]="false" [cdkDropListSortingDisabled]="true" [cdkDropListDisabled]="true"
            id="cdk-drag-drop-hurdalik" style="display: initial;"
            [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI]"
            (cdkDropListDropped)="onDrop($event)">
            <div class="hurdalik" tip="hurdalik">
                <img src="assets/aks-iskeletleri/6x2/img/hurda_icon.png">
                <!-- <p>Hurdalık</p> -->
            </div>
        </div>

    </div>

    <div class="hizalama">

        <div class="arac_aks">

            <div class="on_birlesme">
                <div class="on_cam">
                    <img src="assets/aks-iskeletleri/6x2/img/direksiyon.png">
                </div>

                <div cdkDropList #aks_11_O_SL="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks11OSL"
                    [cdkDropListConnectedTo]="[aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="on_sol" tire-aks-name="11-Ö-SL"
                    [attr.tire_aks_number]="'1'" [attr.tire_aks_id]="aks11OSLId">
                    <div cdkDrag *ngFor="let item of aks11OSL" (click)="doubleClick(item.LastikID,1,aks11OSLId)"
                        tip="lastik" [attr.tire_aks_id]="aks11OSLId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks11OSL.length===0" (click)="bosLastikDoubleClick('aks11OSL',aks11OSLId,1)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

                <div class="orta_aks">
                    <img src="assets/aks-iskeletleri/6x2/img/aks_body1.png">
                </div>

                <div cdkDropList #aks_12_O_SG="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks12OSG"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="on_sag" tire-aks-name="12-Ö-SG"
                    [attr.tire_aks_number]="'1'" [attr.tire_aks_id]="aks12OSGId">
                    <div cdkDrag *ngFor="let item of aks12OSG" (click)="doubleClick(item.LastikID,1,aks12OSGId)"
                        tip="lastik" [attr.tire_aks_id]="aks12OSGId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks12OSG.length===0" (click)="bosLastikDoubleClick('aks12OSG',aks12OSGId,1)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

            </div>
            <div class="arka_birlesme">

                <div cdkDropList #aks_29_A_SLDC="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks29ASLDC"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="arka_sol" tire-aks-name="29-A-SLDC"
                    [attr.tire_aks_number]="'2'" [attr.tire_aks_id]="aks29ASLDCId">
                    <div cdkDrag *ngFor="let item of aks29ASLDC" (click)="doubleClick(item.LastikID,2,aks29ASLDCId)"
                        tip="lastik" [attr.tire_aks_id]="aks29ASLDCId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks29ASLDC.length===0" (click)="bosLastikDoubleClick('aks29ASLDC',aks29ASLDCId,2)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

                <div cdkDropList #aks_23_A_SGDC="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks23ASGDC"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="arka_sag" tire-aks-name="23-A-SGDC"
                    [attr.tire_aks_number]="'2'" [attr.tire_aks_id]="aks23ASGDCId">
                    <div cdkDrag *ngFor="let item of aks23ASGDC" (click)="doubleClick(item.LastikID,2,aks23ASGDCId)"
                        tip="lastik" [attr.tire_aks_id]="aks23ASGDCId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks23ASGDC.length===0" (click)="bosLastikDoubleClick('aks23ASGDC',aks23ASGDCId,2)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

                <div cdkDropList #aks_210_A_SLIC="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks210ASLIC"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="arka_sol_ic" tire-aks-name="210-A-SLİC"
                    [attr.tire_aks_number]="'2'" [attr.tire_aks_id]="aks210ASLICId">
                    <div cdkDrag *ngFor="let item of aks210ASLIC" (click)="doubleClick(item.LastikID,2,aks210ASLICId)"
                        tip="lastik" [attr.tire_aks_id]="aks210ASLICId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks210ASLIC.length===0" (click)="bosLastikDoubleClick('aks210ASLIC',aks210ASLICId,2)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

                <div class="orta_aks2">
                    <img src="assets/aks-iskeletleri/6x2/img/aks_body1.png">
                </div>

                <div cdkDropList #aks_24_A_SGIC="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks24ASGIC"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="arka_sag_ic" tire-aks-name="24-A-SGİC"
                    [attr.tire_aks_number]="'2'" [attr.tire_aks_id]="aks24ASGICId">
                    <div cdkDrag *ngFor="let item of aks24ASGIC" (click)="doubleClick(item.LastikID,2,aks24ASGICId)"
                        tip="lastik" [attr.tire_aks_id]="aks24ASGICId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks24ASGIC.length===0" (click)="bosLastikDoubleClick('aks24ASGIC',aks24ASGICId,2)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

            </div>
            <div class="arka_birlesme2">

                <div cdkDropList #aks_37_A_SLD="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks37ASLD"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_35_A_SGD,aks_38_A_SLI,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="arka_sol2" tire-aks-name="37-A-SLD"
                    [attr.tire_aks_number]="'3'" [attr.tire_aks_id]="aks37ASLDId">
                    <div cdkDrag *ngFor="let item of aks37ASLD" (click)="doubleClick(item.LastikID,3,aks37ASLDId)"
                        tip="lastik" [attr.tire_aks_id]="aks37ASLDId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks37ASLD.length===0" (click)="bosLastikDoubleClick('aks37ASLD',aks37ASLDId,3)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

                <div cdkDropList #aks_35_A_SGD="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks35ASGD"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_38_A_SLI,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="arka_sag2" tire-aks-name="35-A-SGD"
                    [attr.tire_aks_number]="'3'" [attr.tire_aks_id]="aks35ASGDId">
                    <div cdkDrag *ngFor="let item of aks35ASGD" (click)="doubleClick(item.LastikID,3,aks35ASGDId)"
                        tip="lastik" [attr.tire_aks_id]="aks35ASGDId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks35ASGD.length===0" (click)="bosLastikDoubleClick('aks35ASGD',aks35ASGDId,3)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

                <div cdkDropList #aks_38_A_SLI="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks38ASLI"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_36_A_SGI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="arka_sol_ic2" tire-aks-name="38-A-SLİ"
                    [attr.tire_aks_number]="'3'" [attr.tire_aks_id]="aks38ASLIId">
                    <div cdkDrag *ngFor="let item of aks38ASLI" (click)="doubleClick(item.LastikID,3,aks38ASLIId)"
                        tip="lastik" [attr.tire_aks_id]="aks38ASLIId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks38ASLI.length===0" (click)="bosLastikDoubleClick('aks38ASLI',aks38ASLIId,3)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

                <div cdkDropList #aks_36_A_SGI="cdkDropList" [cdkDropListAutoScrollDisabled]="false"
                    [cdkDropListSortingDisabled]="true" [cdkDropListData]="aks36ASGI"
                    [cdkDropListConnectedTo]="[aks_11_O_SL,aks_12_O_SG,aks_29_A_SLDC,aks_23_A_SGDC,aks_210_A_SLIC,aks_24_A_SGIC,aks_37_A_SLD,aks_35_A_SGD,aks_38_A_SLI,depo,hurdalik]"
                    (cdkDropListDropped)="onDrop($event)" class="arka_sag_ic2" tire-aks-name="36-A-SGİ"
                    [attr.tire_aks_number]="'3'" [attr.tire_aks_id]="aks36ASGIId">
                    <div cdkDrag *ngFor="let item of aks36ASGI" (click)="doubleClick(item.LastikID,3,aks36ASGIId)"
                        tip="lastik" [attr.tire_aks_id]="aks36ASGIId">
                        <div class="seri_no">
                            <p>{{item.SeriNo}}</p>
                        </div>
                        <img [src]="lastikTipResim(item.LastikTipID)">
                        <div *cdkDragPlaceholder style="display: none"></div>
                    </div>
                    <div *ngIf="aks36ASGI.length===0" (click)="bosLastikDoubleClick('aks36ASGI',aks36ASGIId,3)">
                        <img src="assets/aks-iskeletleri/6x2/img/tire_soft.png">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="dip_not">
    <ul>
        <li>
            <div class="yeni"></div>
            <p>Yeni</p>
        </li>
        <li>
            <div class="kaplama"></div>
            <p>Kaplama</p>
        </li>
        <li>
            <div class="dis_acma"> </div>
            <p>Kullanılmış</p>
        </li>
        <li>
            <div class="oe"></div>
            <p>OE</p>
        </li>
    </ul>
</div>

<div #LastikDialogContainer></div>

<div #AracKayitContainer></div>

<div #AracBilgiContainer></div>

<div #BosLastikEkleContainer></div>