<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="box-title text-primary">Araç Ekle</h5>
                <form class="example-form" [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
                    <div class="form-row">
                        <div class="col-md-6 mb-3"><label class="active">Plaka</label>
                            <input class="form-control" type="text" id="plakaPattern" autocomplete="off"
                                [formControl]="regiForm.get('Plaka')" placeholder="Plaka">
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('Plaka').valid && regiForm.get('Plaka').touched">Lütfen bu
                                alanı doldurun.</div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02" class="active">Firma</label>
                            <br />
                            <ng-select2 [data]="firmalar" formControlName="FirmaID" (valueChanged)="getPsiBar($event)"
                                [placeholder]="'Lütfen bir firma seçiniz..'">
                            </ng-select2>
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('FirmaID').valid && regiForm.get('FirmaID').touched">
                                Lütfen bu
                                alanı doldurun.</div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02" class="active">Marka</label>
                            <br />
                            <ng-select2 [data]="aracMarkalar" (valueChanged)="getModel($event)"
                                formControlName="MarkaID" [placeholder]="'Lütfen bir marka seçiniz..'">
                            </ng-select2>
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('MarkaID').valid && regiForm.get('MarkaID').touched">
                                Lütfen bu
                                alanı doldurun.</div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02" class="active">Model</label>
                            <br />
                            <ng-select2 [data]="aracModeller" (valueChanged)="getAracKategoriAksSayisi($event)"
                                formControlName="ModelID" [placeholder]="'Lütfen bir model seçiniz..'">
                            </ng-select2>
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('ModelID').valid && regiForm.get('ModelID').touched">
                                Lütfen bu
                                alanı doldurun.</div>
                        </div>

                        <div class="col-md-3 mb-3"
                            *ngFor="let item of [].constructor(aracKategoriAksSayisi); let i = index">
                            <label class="active">{{i+1}}. Aks</label>
                            <input class="form-control aracKategoriAkslar" type="number" [attr.data-id]="i+1" max="100"
                                value="" id="aks_{{i+1}}" autocomplete="off" placeholder="{{i+1}}. Aks">
                            <label>{{psiBar}}</label>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-1 mb-1">
                            <button class="btn pull-left btn-primary" [disabled]="!regiForm.valid"
                                type="submit">Kaydet</button>
                            <div *ngIf="anaSayfayaDonBtn" style="float:right;margin-left:20px">
                                <img src="assets/aks-iskeletleri/4x2/img/home.png" style="width:42px"
                                    (click)="goToHomePage()" title="Anasayfa">
                            </div>
                            <div *ngIf="anaSayfayaDonBtn&&aracId!==undefined" style="float:right">
                                <img src="assets/lazy-home-page/img/reply.png"
                                    (click)="aracaGit()" title="Araca Git">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>