<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <h5 class="box-title text-primary">Lastik Marka Güncelle</h5>
                <form class="example-form" [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
                    <div class="form-row">
                        <div class="col-md-6 mb-3"><label class="active">Kod</label>
                            <input class="form-control" type="text" placeholder="Kod" formControlName="Kod">
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('Kod').valid && regiForm.get('Kod').touched">Lütfen bu
                                alanı doldurun.</div>
                        </div>
                        <div class="col-md-6 mb-3"><label class="active">Ad</label>
                            <input class="form-control" type="text" placeholder="Ad" formControlName="Ad">
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('Ad').valid && regiForm.get('Ad').touched">Lütfen bu
                                alanı doldurun.</div>
                        </div>
                        <div class="col-md-6 mb-3"><label class="active">Sıra</label>
                            <input class="form-control" type="number" placeholder="Sıra" formControlName="Sira">
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('Sira').valid && regiForm.get('Sira').touched">Lütfen bu
                                alanı doldurun.</div>
                        </div>
                        <div class="col-md-6 mb-3"><label for="validationCustom02" class="active">Kaplama Marka</label>
                            <div class="form-group my-1">
                                <label class="ui-switch switch-icon">
                                    <input type="checkbox" formControlName="KaplamaMarka"><span class="ml-0"></span>
                                    {{regiForm.get('KaplamaMarka').value === true ? 'Evet' : 'Hayır'}}
                                </label>
                            </div>
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('KaplamaMarka').valid && regiForm.get('KaplamaMarka').touched">
                                Lütfen bu
                                alanı doldurun.</div>
                        </div>
                        <div class="col-md-6 mb-3"><label for="validationCustom02" class="active">Aktiflik</label>
                            <div class="form-group my-1">
                                <label class="ui-switch switch-icon">
                                    <input type="checkbox" formControlName="ListeAktiflik"><span class="ml-0"></span>
                                    {{regiForm.get('ListeAktiflik').value === true ? 'Aktif' : 'Pasif'}}
                                </label>
                            </div>
                            <div class="valid-feedback-form"
                                *ngIf="!regiForm.get('ListeAktiflik').valid && regiForm.get('ListeAktiflik').touched">
                                Lütfen bu
                                alanı doldurun.</div>
                        </div>
                    </div>
                    <button class="btn pull-right btn-primary" [disabled]="!regiForm.valid"
                        type="submit">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>